<!DOCTYPE html>

<html lang="en">

<body>
    <form action="/retrievepwd" method="post" name="emailForm" id="emailForm">
        *Email: <input type="text" name="email" value="$!email" size="20"/>
        <label id="emailMessage">$!emailMsg</label><br/><br/>
        <input type="submit" value="Next" />
    </form>
</body>

</html>